<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Daniel účetnictví</title>
    <style>
      h1,h2{
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(100, 100, 100);
        text-align: center;
      }
      #banner 
        {     
          width: 100%;
          height: 360px;
        }
      .bodytext{
        font-family: Roboto;
        color: rgb(100, 100,100);
      }
      
      #container{
        max-width: 720px;
        margin-left: 80px;
        margin: 0 auto;
      }
      
    </style>
  </head>
  <body>
    <div class="container">
   <h1>Daniel účetnictví</h1>
    <img id="banner" src="https://0f5b10c1-53c6-43ab-870e-5ddc610d00ac-00-2s1iv59ed23tw.spock.replit.dev/static/baner5.jpg">
    <h2>O nás</h2>
    <p class="bodytext">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
     </p>
    <h2>Naše služby</h2>
    <p class="bodytext">TODO -  Ukaž služby zde.</p>
      <div style="text-align:center";>
    <button>Kontaktuj nás</button>
      <p> Copyright 2024, Daniel</p>
   </div>
  </body>
</html>
